<h2>Methods that were not run</h2><table>
<tr><td>ui.pages.SomeTest.checkDraftContent<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Check addressee, subject and body in draft email</i></td></tr>
<tr><td>ui.pages.SomeTest.logOut<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Log out</i></td></tr>
<tr><td>ui.pages.SomeTest.checkSendEmail<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Send the mail from draft and Verify, that the mail disappeared from Drafts</i></td></tr>
<tr><td>ui.pages.SomeTest.saveNewEmailAsDraft<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Save the mail as a draf and  check, that the mail appears in Drafts</i></td></tr>
</table>