<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67b690">  <td>16/03/09 11:22:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SomeTest.setUp()[pri:0, instance:ui.pages.SomeTest@71c7db30]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@99347477</td>   <td></td> </tr>
<tr bgcolor="67b690">  <td>16/03/09 11:22:42</td>   <td>6782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SomeTest.logIn()[pri:0, instance:ui.pages.SomeTest@71c7db30]">logIn</td> 
  <td>main@99347477</td>   <td></td> </tr>
<tr bgcolor="67b690">  <td>16/03/09 11:22:55</td>   <td>19756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SomeTest.stopBrowser()[pri:0, instance:ui.pages.SomeTest@71c7db30]">&lt;&lt;stopBrowser</td> 
<td>&nbsp;</td>  <td>main@99347477</td>   <td></td> </tr>
</table>
