<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Failed suite [Failed suite [Failed suite [Default suite]]]]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9ab6f">  <td>16/03/08 17:29:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SomeTest.setUp()[pri:0, instance:ui.pages.SomeTest@4563e9ab]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1449621165</td>   <td></td> </tr>
<tr bgcolor="e9ab6f">  <td>16/03/08 17:29:52</td>   <td>4354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SomeTest.checkDraftContent()[pri:0, instance:ui.pages.SomeTest@4563e9ab]">checkDraftContent</td> 
  <td>main@1449621165</td>   <td></td> </tr>
<tr bgcolor="e9ab6f">  <td>16/03/08 17:30:21</td>   <td>33335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SomeTest.stopBrowser()[pri:0, instance:ui.pages.SomeTest@4563e9ab]">&lt;&lt;stopBrowser</td> 
<td>&nbsp;</td>  <td>main@1449621165</td>   <td></td> </tr>
</table>
