<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eda0e0">  <td>16/03/08 20:06:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SomeTest.setUp()[pri:0, instance:ui.pages.SomeTest@5e025e70]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="eda0e0">  <td>16/03/08 20:06:59</td>   <td>9029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SomeTest.checkDraftContent()[pri:0, instance:ui.pages.SomeTest@5e025e70]">checkDraftContent</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="eda0e0">  <td>16/03/08 20:07:26</td>   <td>35493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SomeTest.stopBrowser()[pri:0, instance:ui.pages.SomeTest@5e025e70]">&lt;&lt;stopBrowser</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
</table>
